<phpunit colors="true"
         verbose="false"
         syntaxCheck="true"
         stopOnError="false"
         backupGlobals="false"
         stopOnFailure="false"
         bootstrap="tests/phpunit.php"
         processIsolation="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./src/views</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/views</directory>
                <file>./src/Http/routes.php</file>
                <file>./src/Http/socialRoutes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="TestListener" file="tests/Listeners/TestListener.php"/>
    </listeners>
</phpunit>
